$d-blue: #3891A6;
$d-gray: #4C5B5C;
$d-yellow: #FDE74C;
$d-terracotta-dark: #DB5461;
$d-terracotta: #E3655B;

$d2-blue-light: #A8F9FF;
$d2-blue-medium: #9AE5E6;
$d2-blue-silver: #81A094;
$d2-taupe: #775B59;
$d2-sienna: #32161F;

$d3-eggshell: #E3E7D3;
$d3-silver: #BDC2BF;
$d3-blue-silver: #81A094;
$d3-black: #25291C;
$d3-yellow: #E6E49F;
